<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<h1>Login</h1>
<form name='login' class="grid grid-cols-2" th:action="@{/login}" method='post'>
    <label for="email">Email: </label>
    <input type='text' id="email" name='email' value=''/>
    <label for="password">Password: </label>
    <input type='password' id="password" name='password' />
    <input id="submit" type="submit" value="submit" />
    <a href="register"><input style="margin-left: 10px" type="button" value="register" /></a>
</form>
</body>
</html>